<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.cardiogp"
    version="0.0.1">

    <name>CardIOPGPlugin</name>
    <author>Gilles Haiat</author>
    <license>Apache</license>

    
   
    <!-- ios -->
    <platform name="ios">
       

        <asset src="www/CardIOPGPlugin.js" target="CardIOPGPlugin.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="CardIOPGPlugin">
              <param name="ios-package" value="CardIOPGPlugin" />
            </feature>
        </config-file>
   
        <header-file src="src/ios/CardIOPGPlugin.h" />
        <source-file src="src/ios/CardIOPGPlugin.m" />
       
    </platform>
</plugin>
